.data-error {
    color: #f44336 !important;
}

.bg-disabled {
    background-color: #e0e0e0  !important;
}

#frm_maintenance label, input {
    text-indent: 5px;
}

.custom-spinner {
    width: 15px;
    height: 15px;
}

.btn-xsj {
    padding: 0.5rem 0.8rem !important;
}

.table th, .table td {
    vertical-align: middle;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.item-box {
    padding: 20px 15px;
    width: 170px;
    border: 1px solid black;
}

.items-wrapper {
    width: 100%;
    overflow-x:scroll;
}

.card-title {
    position:relative;
    top: 7px;
    display:inline-block;
}