.data-error {
    color: #f44336 !important;
}

.bg-disabled {
    background-color: #e0e0e0  !important;
}

#frm_maintenance label, input {
    text-indent: 5px;
}

.custom-spinner {
    width: 15px;
    height: 15px;
}

.btn-xsj {
    padding: 0.5rem 0.8rem !important;
}

.table th, .table td {
    vertical-align: middle;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.item-box {
    padding: 20px 15px;
    margin: 5px;
    width: 170px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(46, 45, 45, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(46, 45, 45, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(46, 45, 45, 0.75);
}

.items-wrapper {
    width: 100%;
    overflow-x:scroll;
}

.card-title {
    position:relative;
    top: 7px;
    display:inline-block;
}

//colors for items
.status-Reserved {
    background-color: #33b5e5;
}

.status-Available {
    background-color: #00C851;
}

.status-Unavailable {
    background-color: #ff4444;
}

.status-Occupied {
    background-color: #ffbb33;
}